body {
    font-family: Arial, sans-serif;
    background: rgb(189,228,220);
    background: linear-gradient(90deg, rgba(189,228,220,1) 9%, rgba(247,154,164,1) 45%, rgba(219,143,238,1) 80%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo con más transparencia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    max-width: 320px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #4caf50;
}

/* Estilo para los párrafos */
p {
    margin: 0;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}





.container {
    margin-top: 30px;
}

.card {
    margin-bottom: 30px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}


.card-body {
    overflow-y: auto; /* Hacer la tabla desplazable verticalmente */
    max-height: 300px; /* Altura máxima de la tabla */
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f8f9fa;
}

.table img {
    max-width: 100px;
}

/* Estilos adicionales */

.row.justify-content-center {
    display: flex;
    justify-content: center;
}

.col-md-8 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-8 {
        max-width: 66.666667%;
    }
}

